{{> header }}
<section class="container mt-5 mb-5">
  <p class="h2">HOW IT WORKS....</p>
  <div class="row mb-5 mt-5">
    <div class="col-md-4">
      <img src="img/img_how_1.svg" alt="">
      <p class="h3">Create a link</p>
      <p>It can be whatever you want (like your name or company name)</p>
    </div>
    <div class="col-md-4">
      <img src="img/img_how_2.svg" alt="">
      <p class="h3">Share the link</p>
      <p>However you'd like really.</p>
    </div>
    <div class="col-md-4">
      <img src="img/img_how_3.svg" alt="">
      <p class="h3">...thats it</p>
      <p>Guests join instantly in the browser by clicking the link.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <a href="#"><img src="img/img_meeting.png" alt=""></a>
      <p class="h3">Meetings</p>
      <p>Online Meetings, Training & Technical Support</p>
    </div>
    <div class="col-md-2">
      <a href="#"><img src="img/img_rooms.png" alt=""></a>
      <p class="h3">Video Webinar</p>
      <p>Marketing Events & Town Hall Meetings</p>
    </div>
    <div class="col-md-2">
      <a href="#"><img src="img/img_webinar.png" alt=""></a>
      <p class="h3">Zoom Rooms</p>
      <p>Build Collaboration-Enabled Conference Room</p>
    </div>
    <div class="col-md-2">
      <a href="#"><img src="img/img_connector.png" alt=""></a>
      <p class="h3">Business</p>
      <p>IM Cross-Platform Messaging & File Sharing</p>
    </div>
    <div class="col-md-2">
      <a href="#"><img src="img/img_business.png" alt=""></a>
      <p class="h3">H.323/SIP Connector</p>
      <p>Bring H.323/SIP Video Systems to the Cloud</p>
    </div>
    <div class="col-md-2">
      <a href="#"><img src="img/img_platform.png" alt=""></a>
      <p class="h3">Developer Platform</p>
      <p>Empower Your Apps With Video, Voice & Screen Sharing</p>
      </p>
    </div>
  </div>
</section>

{{> footer}}