{{!< main}}
{{> header2 }}
<section class="container mt-5 mb-5">
  <h2>HOW IT WORKS...</h2>
  <div class="row mb-5 mt-5">
    <div class="col-md-4 card text-center border-0 mb-2">
      <img class="card-img-top" src="/static/img/img_how_1.svg" alt=""/>
      <div class="card-body">
        <h3 class="card-title">Create link</h3>
        <p class="card-text">It can be whatever you want (like your name or company name)</p>
      </div>
    </div>
    <div class="col-md-4 card text-center border-0 mb-2">
      <img class="card-img-top" src="/static/img/img_how_2.svg" alt=""/>
      <div class="card-body">
        <h3 class="card-title">Share link</h3>
        <p class="card-text">By email, chat, in Slack. However you'd like really.</p>
      </div>
    </div>
    <div class="col-md-4 card text-center border-0 mb-2">
      <img class="card-img-top" src="/static/img/img_how_3.svg" alt=""/>
      <div class="card-body">
        <h3 class="card-title">and Connect...</h3>
        <p class="card-text">Guests won’t have to register to join. Just send them the room link to join in the browser.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 text-center">
      <a href="#"><img src="/static/img/img_meeting.png" alt=""></a>
      <h5>Meetings</h5>
      <p>Online Meetings, Training & Technical Support</p>
    </div>
    <div class="col-md-2 text-center">
      <a href="#"><img src="/static/img/img_rooms.png" alt=""></a>
      <h5>Video Webinar</h5>
      <p>Marketing Events & Town Hall Meetings</p>
    </div>
    <div class="col-md-2 text-center">
      <a href="#"><img src="/static/img/img_webinar.png" alt=""></a>
      <h5>Chat Rooms</h5>
      <p>Build Collaboration-Enabled Conference Room</p>
    </div>
    <div class="col-md-2 text-center">
      <a href="#"><img src="/static/img/img_connector.png" alt=""></a>
      <h5>Business</h5>
      <p>IM Cross-Platform Messaging & File Sharing</p>
    </div>
    <div class="col-md-2 text-center">
      <a href="#"><img src="/static/img/img_business.png" alt=""></a>
      <h5>H.323/SIP Connector</h5>
      <p>Bring H.323/SIP Video Systems to the Cloud</p>
    </div>
    <div class="col-md-2 text-center">
      <a href="#"><img src="/static/img/img_platform.png" alt=""></a>
      <h5>Developer Platform</h5>
      <p>Empower Your Apps With Video, Voice & Screen Sharing</p>
      </p>
    </div>
  </div>
</section>
{{> footer}}

{{#contentFor "pageScripts"}}
  <script src="/static/js/index.js"></script>
{{/contentFor}}