#after-join aside {
  border-right: 1px solid #6c757d; }

#openTextChat {
  color: #FF9770;
  background: none;
  font-size: 2em;
  height: 70px;
  width: 70px;
  border: 1px solid #70D6FF;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -khtml-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 -1px 20px 0 #70D6FF;
  -moz-box-shadow: 0 -1px 20px 0 #70D6FF;
  box-shadow: 0 -1px 20px 0 #70D6FF;
  padding: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 15px 15px;
  outline: none;
  -moz-transition: right 0.4s, bottom 0.4s, color 0.6s;
  -o-transition: right 0.4s, bottom 0.4s, color 0.6s;
  -webkit-transition: right 0.4s, bottom 0.4s, color 0.6s;
  transition: right 0.4s, bottom 0.4s, color 0.6s; }
  #openTextChat:hover {
    color: #00688f;
    cursor: pointer;
    right: 3px;
    bottom: 3px;
    -webkit-box-shadow: 0 -3px 20px 0 #6ed6ff;
    -moz-box-shadow: 0 -3px 20px 0 #6ed6ff;
    box-shadow: 0 -3px 20px 0 #6ed6ff; }

video {
  max-width: 100%;
  max-height: 100%;
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1); }

#localVideoBox {
  max-width: 100%;
  max-height: 100px; }

#usersVideo .other-users video {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  max-height: 99vh; }

.scrensharing {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1); }

#localVideoBox #localVideo {
  width: 100%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1); }

.frame {
  background: rgba(0, 153, 214, 0.7);
  min-height: 250px;
  overflow: hidden;
  padding: 5px 0; }
  .frame .close {
    color: whitesmoke;
    font-size: 1.5em;
    background-color: #5c5c5c;
    border: none;
    outline: none;
    height: 40px;
    width: 40px;
    margin-top: 2px;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%; }
  .frame .message-input-area {
    position: absolute;
    bottom: 0;
    padding: 5px;
    width: 100%; }
    .frame .message-input-area .chat-input {
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      -khtml-border-radius: 10px;
      border-radius: 10px;
      width: 90%;
      height: 35px;
      padding: 5px;
      background-color: whitesmoke; }
    .frame .message-input-area .icon {
      width: 25px;
      height: 25px;
      color: #f8f9fa;
      cursor: pointer; }
      .frame .message-input-area .icon:hover {
        position: relative;
        top: 2px;
        color: #c2c2c2; }
    .frame .message-input-area #file-transfer .file-input {
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      -khtml-border-radius: 10px;
      border-radius: 10px;
      width: 78%;
      height: 35px;
      padding: 5px; }
    .frame .message-input-area #file-transfer .close-icon {
      width: 25px;
      height: 25px;
      color: #dc3545;
      margin-left: 5px;
      cursor: pointer; }
      .frame .message-input-area #file-transfer .close-icon:hover {
        position: relative;
        top: 2px;
        color: #921925; }
  .frame .text {
    width: 75%;
    display: flex;
    flex-direction: column; }
    .frame .text > p:last-of-type {
      width: 100%;
      text-align: right;
      color: silver;
      margin-bottom: -7px;
      margin-top: auto; }
    .frame .text > p:first-of-type {
      width: 100%;
      margin-top: 0;
      margin-bottom: auto;
      line-height: 13px; }
  .frame .text-l {
    float: left;
    padding-right: 10px; }
  .frame .text-r {
    float: right;
    padding-left: 10px; }
  .frame #messages {
    width: 100%;
    list-style-type: none;
    padding: 10px;
    position: absolute;
    bottom: 47px;
    display: flex;
    flex-direction: column;
    top: 30px;
    overflow-y: scroll; }
    .frame #messages li {
      width: 100%;
      margin: 5px 0; }
  .frame .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    float: left;
    padding-right: 10px; }
    .frame .avatar img {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      -khtml-border-radius: 50%;
      border-radius: 50%;
      width: 48px;
      height: 48px; }
  .frame .macro {
    margin-top: 5px;
    width: 85%;
    border-radius: 5px;
    padding: 5px;
    display: flex; }
  .frame .msj-rta {
    float: right;
    background: whitesmoke; }
    .frame .msj-rta:after {
      width: 0;
      height: 0;
      content: "";
      top: -5px;
      left: 14px;
      position: relative;
      border-style: solid;
      border-width: 13px 13px 0 0;
      border-color: whitesmoke transparent transparent transparent; }
  .frame div.msj-rta.macro {
    margin: auto;
    margin-left: 1%; }
  .frame .msj {
    float: left;
    background: white; }
    .frame .msj:before {
      width: 0;
      height: 0;
      content: "";
      top: -5px;
      left: -14px;
      position: relative;
      border-style: solid;
      border-width: 0 13px 13px 0;
      border-color: transparent whitesmoke transparent transparent; }
  .frame input:focus {
    outline: none; }
  .frame ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #d4d4d4; }
  .frame ::-moz-placeholder {
    /* Firefox 19+ */
    color: #d4d4d4; }
  .frame :-ms-input-placeholder {
    /* IE 10+ */
    color: #d4d4d4; }
  .frame :-moz-placeholder {
    /* Firefox 18- */
    color: #d4d4d4; }

#messages {
  padding-top: 10px;
  overflow-y: auto;
  /* width */
  /* Track */
  /* Handle */ }
  #messages::-webkit-scrollbar {
    width: 5px; }
  #messages::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px; }
  #messages::-webkit-scrollbar-thumb {
    background: #FF9770;
    border-radius: 10px; }

#loader {
  position: absolute;
  left: 40%;
  top: 40%;
  z-index: 1;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #FF9770;
  border-right: 16px solid #70D6FF;
  border-bottom: 16px solid #FF9770;
  border-left: 16px solid #70D6FF;
  width: 250px;
  height: 250px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.form-control {
  border: 1px solid #FF9770; }
