body {
  color: #333; }

header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/bg2.jpeg") no-repeat top center fixed;
  background-size: cover; }
  header #typer {
    color: whitesmoke !important;
    margin: 20px auto; }

footer {
  color: whitesmoke;
  padding: 20px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 50, 40, 0.8)), no-repeat top left fixed;
  background-size: cover;
  box-sizing: border-box; }
  footer h1, footer h2, footer h3 {
    color: #70D6FF; }
  footer ul {
    padding: 0;
    list-style: none; }
  footer a {
    color: whitesmoke; }

.banner-header {
  color: whitesmoke;
  min-height: 80vh;
  max-height: 100vh;
  position: relative; }
  .banner-header .header-action {
    padding: 15vh 0 0; }
  .banner-header .call-box {
    background-color: rgba(0, 104, 143, 0.6);
    padding: 25px 35px;
    margin-left: 0;
    margin-bottom: 20px;
    box-sizing: border-box; }
    .banner-header .call-box input[type="submit"] {
      color: whitesmoke; }
  .banner-header .bottom {
    position: absolute;
    bottom: 0;
    text-align: center; }

nav ul li a.nav-link {
  color: whitesmoke !important;
  font-size: larger;
  margin: 0 10px; }
  nav ul li a.nav-link:hover {
    color: #FF9770;
    text-decoration: underline; }

.prefix-form {
  color: #ff956d;
  font-size: 1rem;
  padding: 2px 0 2px 10px;
  background-color: whitesmoke;
  border: 1px solid #FF9770;
  border-radius: 8px;
  height: 40px;
  display: flex;
  align-items: center; }
  .prefix-form .prefix_text {
    font-weight: bold; }
  .prefix-form input.form-control {
    height: 100%;
    padding: 0;
    border: none;
    background-color: inherit; }
    .prefix-form input.form-control:focus {
      border-width: 0;
      box-shadow: none;
      background-color: inherit; }
