body {
  color: #332E3C; }

h1, h2, h3 {
  color: #70d6ff; }

header {
  color: white;
  min-height: 80vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/bg2.jpeg") no-repeat top center fixed;
  background-size: cover; }
  header .header_action {
    padding: 10vh 0 0;
    vertical-align: center;
    box-sizing: border-box; }
  header .call_box {
    background-color: rgba(255, 151, 112, 0.6);
    box-sizing: border-box;
    padding: 25px 35px;
    margin-left: 0; }
  header #typer {
    font-size: 1.5em;
    text-align: center;
    margin: 20px auto; }

nav ul li a.nav-link {
  color: white !important;
  font-size: larger;
  margin: 0 10px; }
  nav ul li a.nav-link:hover {
    color: #70d6ff;
    text-decoration: underline; }

.prefix-form {
  color: #70d6ff;
  font-size: 1.2em;
  padding: 2px 10px;
  background-color: whitesmoke;
  border: 1px solid #70d6ff;
  border-radius: 8px;
  height: 40px;
  -ms-text-align-last: right; }
  .prefix-form input {
    height: 100%;
    display: inline-block;
    padding: 0;
    width: auto;
    border: none;
    background-color: whitesmoke; }
    .prefix-form input:focus {
      border-width: 0;
      box-shadow: none;
      background-color: whitesmoke; }
