@import "../../node_modules/bootstrap/scss/functions";
@import "mixins";
@import "variables";


body {
  color: #333;
  min-height: 100vh;
}

//h1, h2, h3, h4, h5, h6 {
//  color: darken($primary-color, .2);
//}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 50, 40, 0.8)), no-repeat top left fixed;
  color: $white;
  margin: 0 0 10px 0;
}
footer {
  color: $white;
  padding: 20px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 50, 40, 0.8)),
  no-repeat top left fixed;
  background-size: cover;
  box-sizing: border-box;
  h1, h2, h3 {
    color: $secondary;
  }
  ul {
    padding: 0;
    list-style: none;
  }
  li {
  }
  a {
    color: $white;
  }
}

header.banner-header {
  color: $white;
  min-height: 80vh;
  max-height: 100vh;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url("../img/bg2.jpeg") no-repeat top center fixed;
  background-size: cover;
  #typer {
    color: $white !important;
    //text-align: center;
    margin: 20px auto;
  }

  .header-action {
    padding: 20vh 0 0;
  }
  .call-box {
    background-color: transparentize(invert($primary-color), 0.4);
    padding: 25px 35px;
    margin-left: 0;
    margin-bottom: 20px;
    box-sizing: border-box;
    input[type="submit"] {
      color: $white;
    }
  }
  .bottom {
    position: absolute;
    bottom: 0;
    text-align: center;
  }


}

//header.container-fluid{
//  padding: 0 5%;
//
//}
nav ul li a.nav-link {
  color: $white !important;
  font-size: larger;
  margin: 0 10px;
  &:hover {
    color: $primary-color;
    text-decoration: underline;
  }
}

//******************FORMS******************//
.prefix-form {
  color: darken($primary-color, .6);
  font-size: 1rem;
  padding: 2px 0 2px 10px;
  background-color: whitesmoke;
  border: 1px solid $primary-color;
  border-radius: 8px;
  height: 40px;
  //margin: 10px 0;
  display: flex;
  align-items: center;
  .prefix_text {
    font-weight: bold;
  }
  input.form-control {
    height: 100%;
    padding: 0;
    //min-width: 30%;
    //max-width: 65%;
    border: none;
    background-color: inherit;

    &:focus {
      border-width: 0;
      box-shadow: none;
      background-color: inherit;
    }
  }
}

//************GENERAL**********************//
.fullpage {
  min-height: 500px;
}
.hide {
  display: none;
}
.nopadding{
  margin: 0 !important;
  padding: 0 !important;
}
.btn{
  //color: $white;
  //font-size: 1.2em;
}
.vh{
  min-height: 100vh;
}
.box-200{
  height: 200px;
  //width: 300px;
  background: #333;
}