<footer>
  <p>Views: {{views}}</p>{{! Number of page visit}}
</footer>
{{! Scripts }}
<script src="components/jquery/dist/jquery.min.js"></script>
<script src="components/popper.js/dist/umd/popper.min.js"></script>
<script src="components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="js/fontawesome-all.js"></script>
<script src="js/index.js"></script>
{{! End of Scripts}}