<footer>
  <div class="row">
    <div class="col-md-4">
      <h1>About RTConn</h1>
      <p>RTConn is a RealTime peer-to-peer implemention of WebRTC. That allow you to connect with you families and
        friends in real time. Developed by <a href="//www.donpeter.me"> Don Peter C. Atunalu.</a> as his final year
        project </p>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>
  <p>Views: {{views}}</p>{{! Number of page visit}}
</footer>
{{! Scripts }}
<script src="components/jquery/dist/jquery.min.js"></script>
<script src="components/popper.js/dist/umd/popper.min.js"></script>
<script src="components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="js/fontawesome-all.js"></script>
<script src="js/index.js"></script>
{{! End of Scripts}}